<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../public/application.css" rel="stylesheet">

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="http://localhost:9393">Home</a></li>
    <li role="presentation"><a href="http://localhost:9393/tasks">Task Index</a></li>
    <li role="presentation"><a href="http://localhost:9393/tasks/new">New Tasks</a></li>
  </ul>
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <div class="container">
    <%= yield %>
    <img src="mr_bean2.jpg">
  </div>
</body>
</html>
